body{
	background-color: #f5f5f5;
}
.navb2{
	padding-bottom: 20px;
}
.header{
	background: url("../gambar/Details_PC_bg.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 321px;
    margin-top: -18px;
}
.header1{
	margin-top: 30px;
	background: url("../gambar/Details_PC_cha.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 230px;
}
.headertxt{
	margin-left: 27%;
	margin-top: 20px;
}
.headertxt p{
	text-align: center;
	font-size: 18px;
	color: #00b19a;
	padding-top: 40px;
}
.headertxt h1{
	font-size: 50px;
	text-align: center;
	margin-top: 0;
	color: black;
}
.headertxt h4{
	text-align: center;
	float: left;
	margin-left: 43%;
}
.headertxt img{
	margin-top: 12px;
	margin-left: 10px;
}
.isi{
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -60px;
    background-color: white;
}
.point2{
	margin-left: 73px;
	width: 1170px;
	height: 97px;
	background-color: red;
}
.point2 h4{
	margin-top: 20px;
	font-weight: bold;
	margin-bottom: 0;
}
.rekomendasi{
	font-size: 18px;
	font-weight: bold;
	margin-left: 73px;
	margin-top: 80px;
}

.comic{
	margin-left: 0;
}
.comic img{
	height: 73px;
	width: 77px;
}
.comic p{
	margin-top: 30px;
	padding-left: 90px;
	font-size: 18px;
	float: left
}
.tgl{
	margin-right: 20px;
	margin-top: 35px;
	float: right;
	font-size: 12px;
	color:grey;
}
.pgr{
	margin-top: 32px;
	float: right;
	font-size: 18px;
	color:grey;
}
.love{
	margin-right: 20px;
	margin-top: 35px;
	float: right;
	font-size: 12px;
	color:grey;
}
.love img{
	width: 15px;
	height: 15px;
}
hr.batascomic {
    width: 100%;
    border-top: 1px solid #f0ebeb;
    height: 0px;
    margin:0px;
}
.lain{
	margin-left: 50px;
	margin-top: 40px;
	background-color: white;
}
.like2{
	width: 15px;
	height: 15px;
	float: left;
	margin-top: 2px;
}
p.hijau{
	font-size: 12px;
	color: #3de33d;
}
.batas{
	width: 0px; 
	height: 850px; 
	border: 1px solid #f0ebeb;
	float: left;
}
.isi_kiri{
	top: 0;
	left: 0;
	position: absolute;
	padding: 20px;
}
.imgatas{
	padding-right: 10px;
	float: left;
}
.kiri{
	float: left;
	font-size: 16px;
	margin-left: 20px;
}
.kiri p{
	padding-left: 40px;
	line-height: -1;
}
.rating{
    background-color: #00d564;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius:2em;
    font-size: 13px;
    margin: -3px 2px;
    cursor: pointer;
    margin-left: 10px;
    line-height: -1;
}
.bawah{
	float: left;
}
.pbawah{
	margin-top: 30px;
	padding-left: 20px;
}
.pbawah h4{
	font-weight: bold;
	font-size: 20px;
	line-height: 40px;
	padding-left: 40px;
}
.pbawah p{
	font-size: 16px;
}

.lanjut{
	width: 290px;
	height: 50px;
	background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius:2em;
    font-size: 15px;
    cursor: pointer;
    opacity: 5;
    margin-top: 30px;
    float: left;
    margin-left: auto;
    margin-right: auto;
}
.eps{
	width: 290px;
	height: 50px;
	background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius:2em;
    font-size: 15px;
    cursor: pointer;
    opacity: 5;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.isi_kiri_bawah{
	top: 7%;
	left: 0;
	position: absolute;
}


/*responsive*/
@media(max-width:1024px){
.header1{
	background-size: 100%;
	margin-top: 5%;
}
.kiri{
	margin-left: 5px;
}
.kiri p{
	padding-left: 35px;
}
}

@media(max-width:768px){
.headertxt h1{
	font-size: 40px;
}
.headertxt h4{
	font-size: 20px;
	text-align: left;
	margin-left: 100px;
}
.kiri{
	margin-left: 20px;
}
.isi_kiri_bawah{
	margin-top: 8%;
}
.eps{
	margin-top: 30px;
	margin-left: 20px;
}
.isi{
	padding-bottom: 0;
	height: 1100px;
}
.isi_rekomendasi{
	height: 300px;
}
.batas{
	display: none;
}
}

@media(max-width: 425px){
.header1{
	width: 100%;
	margin-top: 27%;
}
.headertxt p{
	font-size: 13px;
	text-align: left;
}
.headertxt h1{
	font-size: 25px;
	text-align: left;
}
.headertxt h4{
	font-size: 13px;
	text-align: left;
	margin-left: 0;
}
.comic p{
	font-size: 12px;
	padding-left: 0;
}
.love{
	display: none;
}
.tgl{
	display: none;
}
.isi{
	height: 1200px;
}
.isi_kiri_bawah{
	margin-top: 10%;
}
.lanjut{
	margin-left: 20px;
}
.info{
	margin-bottom: -400px;
}
}

@media(max-width: 375px){
.header1{
	width: 100%;
	margin-top: 15%;
}
.headertxt{
	margin-top: 8px;
}
.isi{
	margin-top: -31%;
}
}

@media(max-width: 320px){
.header1{
	width: 100%;
	margin-top: 5%;
}
.headertxt h1{
	font-size: 18px;
}
.isi{
	margin-top: -50%;
}
.pgr{
	display: none;
}
.comic p{
	font-size: 10px;
	padding-left: 1.5px;
}
.rating{
	display: none;
}
.lanjut{
	width: 200px;
}
.eps{
	width: 200px;
}
.pbawah h4{
	font-size: 16px;
}
.pbawah p{
	font-size: 15px;
}
.isi_rekomendasi h4{
	font-size: 14px;
	font-weight: bold;
}
.isi_rekomendasi p{
	font-size: 12px;
}
}