.likes{
	background-color: #dbdbdb;
    border: none;
    color: #696969;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius:2em;
    font-size: 13px;
    padding: 6px 10px;
    margin: -3px 2px;
    cursor: pointer;
    margin-left: 10px;
    line-height: -1;
}
.netijen{
	color: #696969;
	font-size: 15px;
	font-weight: bold;
}
.time{
	color: #696969;
}
hr.batascomic {
    width: 100%;
    border-top: 1px solid #f0ebeb;
    height: 0px;
    margin:0px;
}
.nomor{
	position: absolute;
	color: white;
	font-size: 20px;
	margin-left: 10px;
}
.pagination {
	margin-left: 250px;
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 3px 10px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #00d564;
    color: white;
    border-radius: 20px;
}
.comment{
	float: right;
	margin-right: 5px;
	margin-top: 1px;
}
.likediskomen{
	float: right;
	color: #696969;
	margin-right: 10px;
	margin-top: -1px;
}
.judulc{
	color: black;
	font-size: 20px;
	margin-top: 20px;
}
.komen{
	color: #696969;
}