::-webkit-scrollbar{
    width:1vh;
}
::-webkit-scrollbar-track{
    background-color:white;
}
::-webkit-scrollbar-thumb{
    background-color:#5cfda8;
}
.daily_section{
	float: left;
    width: 154px;
    padding: 0;
    margin-left: 15px;
}
.daily_section h2 a {
    display: block;
    height: 66px;
    line-height: 68px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    text-decoration:none;
    color:black;
}
.on{
    width: 228px;
    background: #00d564;
    padding: 5px;
}
.on h2 a{
    color: white;
}

.daily_card {
    border:1px solid #dbdbdb;
    border-top: 0;
    padding: 0;
}

.daily_card li {
    list-style: none;
}
.daily_card_item {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
    background: white;
    text-decoration:none; 
    padding:0;
    border-top:1px solid #dbdbdb;
}
.daily_card_item img{
	height: 138px;
	width: 138px;
}
.gam{
    margin-left: 78px;
}

.g_thriller{
    position: absolute;
    left: 12px;
    top: 0;
    padding: 0;
    font-size: 13px;
    line-height: 24px;
    display: none;
}
.g_thriller2{
    position: absolute;
    left: 12px;
    top: 0;
    padding: 0;
    font-size: 13px;
    line-height: 24px;
    display: none;
}
.g_thriller3{
    position: absolute;
    left: 12px;
    top: 0;
    padding: 0;
    font-size: 13px;
    line-height: 24px;
    display: none;
}
.g_thriller4{
    position: absolute;
    left: 12px;
    top: 0;
    padding: 0;
    font-size: 13px;
    line-height: 24px;
    display: none;
}
.g_thriller5{
    position: absolute;
    left: 12px;
    top: 0;
    padding: 0;
    font-size: 13px;
    line-height: 24px;
    display: none;
}
.g_thriller6{
    position: absolute;
    left: 12px;
    top: 0;
    padding: 0;
    font-size: 13px;
    line-height: 24px;
    display: none;
}
.g_thriller7{
    position: absolute;
    left: 12px;
    top: 0;
    padding: 0;
    font-size: 13px;
    line-height: 24px;
    display: none;
}
.muncul_genre{
    display:block;
}
.info{
    position: absolute;
    top: 25px;
    left: 12px;
    width: 100%;
    height: 100%;
    text-align: left;
}
.daily_card_item .subj {
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
}
.author {
    font-size: 12px;
    display: none;
}
.muncul_autor{
    display: block;
}
.daily_card_item .icon_area {
    margin-top: 3px;
}
.kategori{
    font-size: 13px;
}
.hilang_kategori{
    display: none;
}

/*navbar2*/
.navbar2{
    background: white;
    margin-top: -20px;
    border-top: 1px solid #cfced0;
    margin-bottom: 50px;
}
.isi_navbar2 ul{
    margin-left:40%;
}
.isi_navbar2 ul li a{
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    color: black;
}
.isi_navbar2 ul li a:hover{
    color: #00d564;
    background: transparent;
}
.isi_navbar2 ul li a:focus{
    color: #ffffff;
    background: #00d564;
}
.active_on{
    color: #ffffff;
    background: #00d564;
}
.active_off{
    color: black;
    background: #ffffff;
}


/*yang sudah tamat*/
.daily_card_end {
   padding: 0;
}
.daily_card_end li{
    list-style: none;
    float: left;
    margin-left: 30px;
    margin-top: 10px;
}
.daily_card_item_end {
    position: relative;
    width: 216px;
    height: 138px;
    background: white;
    text-decoration:none; 
    padding:0;
}
.daily_card_item_end .subj {
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
}
.daily_card_item_end img{
    height: 138px;
    width: 138px;
    float: right;
}
.gen_horor{
    position: absolute;
    left: 12px;
    top: 0;
    padding: 0;
    font-size: 13px;
    line-height: 24px;
    color: red;
}
.author_tamat{
    font-size: 12px;
    margin-top: -7px;
}
.info img{
    width: 26px;
    height: 26px;
    float: left;
}
.gambar_end{
    clear: left;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
}
.berlangsung1024{
    display: none;
}



/*responsive*/
@media(max-width:1288px){
.daily_section{
    margin-left: 0;
    width:100%;
}
.daily_section h2{
   float: left;
   transform: rotate(270deg);
   margin-top: 12%;
}
.daily_card{
    border:none;
    border-left:1px solid #dbdbdb;
    width: auto;
    margin-top: 50px;
    height: 286px;
    overflow-y:scroll;
    overflow-x: hidden;
}
.daily_card li{
    display: inline-block; !important
}
.daily_card_item{
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}
.isi_navbar2 ul {
    margin-left: 30%;
}

}