/*slider*/
.terbaru{
    position: fixed;
    background: #ece6e6;
    z-index: 20;
    top: 0;
    right: 0;
    margin-top: 10%;
    margin-right: -23px;
    border-radius: 0 0 5px 5px;
    height: auto;
    width: auto;
    color: black;
    -webkit-transform: rotate(90deg); 
    -moz-transform: rotate(90deg);
}
.terbaru:hover{
    cursor: pointer;
}
.samping{
    height: 100%;
    width:  0%;
    position: fixed;
    z-index: 22;
    top: 0;
    right: 0;
    background-color: white;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow-y: hidden;
    transition: 0.5s;
    padding-top:10%;
}
.samping a{
    color: black;
    text-decoration: none;
    font-size: 30px;
    top: 0;
    left: 0;
    margin-top: 1%;
    margin-left: 2%;
    position: absolute;
}
.samping h4{
    color: black;
    text-decoration: none;
    top: 0;
    left: 0;
    margin-top: 30%;
    margin-left: 25%;
    position: absolute;
    text-align: center;
}
.webtoon{
    background:url("../image/webtoon.jpg");
    width: 70px;
    height: 74px;
    float: left;
    margin-left: 25%;
    margin-top: 15%;
    overflow-x: hidden;
}


/*navbar*/
.navb{
	border-radius: 0;
	background: #ffffff;
	border: none;
	padding-top: 10px;
}
.menu li a{
	font-size: 20px;
	font-weight: 500;
	line-height: 40px;
	
}
.navbar-inverse .menu > li > a {
    color: #000000;
}
.navbar-inverse .menu > li > a:hover {
    color: #00d564;
}
.navbar-inverse .navbar-right > li > a {
    color: #ffffff;
    padding: 5px;
}

.button{
	display: inline-block;
    width: 104px;
    height: 33px;
    border-radius: 17px;
    background: #2f2f2f;
    text-align: center;
    font-size: 14px
    border: none;
    margin-right: 10px;
    margin-top: 25px;
}
.button2{
	width: 102px;
    height: 31px;
    margin-left: 4px;
    border: 1px solid #b4b4b4;
    border-radius: 17px;
    background: #fff;
    line-height: 33px;
    text-align: center;
    margin-right: 10px;
    margin-top: 25px;
}
.button3{
    margin-left: 4px;
    border: 1px solid #b4b4b4;
    border-radius: 17px;
    background: #fff;
    margin-right: 10px;
    margin-top: 25px;
}
.button3:hover{
	background: #b4b4b4;
}


/*Carousel*/
.tempat{
	background-image: url("../image/tempat.jpg");
    background-size: cover;
    background-position: center;
	height: auto;
}

/*Jadwal*/
.nav-tabs > li > a {
    margin-right: 0;
    line-height: 1.42857143;
    border-radius: 0;
}
.jadwal ul li a{
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding-right: 34px;
    padding-left: 34px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
}
.nav-tabs > li.active > a{
    color: white;
    background-color: #00d564;
}
.nav-tabs > li.active > a:focus {
    color: white;
    background-color: #00d564;
}
.jadwal ul li a:hover{
    color:#00d564;
    background: white;
}

/*genre*/
.romantis{
    line-height: 210px;
    padding-left: 5px;
    color: #fd337f;
}
.fantasi{
    line-height: 210px;
    padding-left: 5px;
    color: #8b00e9;
}
.komedi{
    line-height: 210px;
    padding-left: 5px;
    color: #eea800;
}
.drama{
    line-height: 210px;
    padding-left: 5px;
    color: #00b19a;
}

/*grid*/
.grid1{
    float: left;
    background: url("../image/Bigcard_PC.jpg");
    background-size: cover;
    background-position: center;
    height: 210px;
    width: 435px;
    margin-top: 20px;
    float: left;
}
.grid1 h3{
    color: white;
    font-size: 18px;
    padding-left: 5px;
    padding-top: 2px;
}
.grid1 p{
    color: white;
    padding: 5px;
}
.grid2{
    background: url("../image/thumb_ipad.jpg");
    background-size: cover;
    background-position: center;
    height: 210px;
    width: 210px;
    margin-top: 20px;
    float: left;
    margin-left: 25px;
}
.grid2 h3{
    font-size: 18px;
    padding-left: 5px;
    padding-top: 2px;
}
.grid2 img{
    width: 7%;
    margin-left: 10px;
    float: left;
}
.grid3{
    background: url("../image/thumb_ipad (1).jpg");
    background-size: cover;
    background-position: center;
    height: 210px;
    width: 210px;
    margin-top: 20px;
    float: left;
    margin-left: 25px;
}
.grid3 h3{
    font-size: 18px;
    padding-left: 5px;
    padding-top: 2px;
}
.grid3 img{
    width: 7%;
    margin-left: 10px;
    float: left;
}
.grid4{
    background: url("../image/EC8DB8EB84A4EC9DBC_ipad.jpg");
    background-size: cover;
    background-position: center;
    height: 210px;
    width: 210px;
    margin-top: 20px;
    float: left;
    margin-left: 25px;
}
.grid4 h3{
    font-size: 18px;
    padding-left: 5px;
    padding-top: 2px;
}
.grid4 img{
    width: 7%;
    margin-left: 10px;
    float: left;
}
.grid5{
    background: url("../image/thumb_ipad (2).jpg");
    background-size: cover;
    background-position: center;
    height: 210px;
    width: 210px;
    margin-top: 20px;
    margin-bottom: 40px;
    float: left;
}
.grid5 h3{
    font-size: 18px;
    padding-left: 5px;
    padding-top: 2px;
}
.grid5 img{
    width: 7%;
    margin-left: 10px;
    float: left;
}
.grid6{
    background: url("../image/thumb_ipad (3).jpg");
    background-size: cover;
    background-position: center;
    height: 210px;
    width: 210px;
    margin-top: 20px;
    margin-bottom: 40px;
    float: left;
    margin-left: 16px;
}
.grid6 h3{
    font-size: 18px;
    padding-left: 5px;
    padding-top: 2px;
}
.grid6 img{
    width: 7%;
    margin-left: 10px;
    float: left;
}
.grid7{
    background: url("../image/thumb_ipad (4).jpg");
    background-size: cover;
    background-position: center;
    height: 210px;
    width: 210px;
    margin-top: 20px;
    margin-bottom: 40px;
    float: left;
    margin-left: 25px;
}
.grid7 h3{
    font-size: 18px;
    padding-left: 5px;
    padding-top: 2px;
}
.grid7 img{
    width: 7%;
    margin-left: 10px;
    float: left;
}
.grid8{
    background: url("../image/thumb_ipad (5).jpg");
    background-size: cover;
    background-position: center;
    height: 210px;
    width: 210px;
    margin-top: 20px;
    margin-bottom: 40px;
    float: left;
    margin-left: 25px;
}
.grid8 h3{
    font-size: 18px;
    padding-left: 5px;
    padding-top: 2px;
}
.grid8 img{
    width: 7%;
    margin-left: 10px;
    float: left;
}
.grid9{
    background: url("../image/thumb_ipad_DICE-E9AAB0E5AD9028EB8BA4EC9DB4EC8AA429.jpg");
    background-size: cover;
    background-position: center;
    height: 210px;
    width: 210px;
    margin-top: 20px;
    margin-bottom: 40px;
    float: left;
    margin-left: 25px;
}
.grid9 h3{
    font-size: 18px;
    padding-left: 5px;
    padding-top: 2px;
}
.grid9 img{
    width: 7%;
    margin-left: 10px;
    float: left;
}
.grid10{
    float: left;
    background: url("../image/Bigcard_PC (1).jpg");
    background-size: cover;
    background-position: center;
    height: 210px;
    width: 435px;
    margin-top: 20px;
    float: left;
}
.grid10 h3{
    color: white;
    font-size: 18px;
    padding-left: 5px;
    padding-top: 2px;
}
.grid10 p{
    color: white;
    padding: 5px;
}
.grid10 img{
    width: 7%;
    margin-left: 10px;
    float: left;
}
.grid11{
    background: url("../image/thumb_ipad (6).jpg");
    background-size: cover;
    background-position: center;
    height: 210px;
    width: 210px;
    margin-top: 20px;
    float: left;
    margin-left: 25px;
}
.grid11 h3{
    font-size: 18px;
    padding-left: 5px;
    padding-top: 2px;
}
.grid11 img{
    width: 7%;
    margin-left: 10px;
    float: left;
}
/*overlay*/
.overlay1 {
    position: absolute;
    top:641px;
    height: 210px;
    width: 435px;
    opacity: 0;
    transition: .2s ease;
    background-color: #fd337f;
    z-index: 4;
}

.grid1:hover .overlay1 {
  opacity: 1;
}
.overlay2 {
    position: absolute;
    top:641px;
    height: 210px;
    width: 210px;
    opacity: 0;
    transition: .2s ease;
    background-color: #fd337f;
    z-index: 4;
}

.grid2:hover .overlay2 {
  opacity: 1;
}
.overlay3 {
    position: absolute;
    top:641px;
    height: 210px;
    width: 210px;
    opacity: 0;
    transition: .2s ease;
    background-color: #8b00e9;
    z-index: 4;
}

.grid3:hover .overlay3 {
  opacity: 1;
}
.overlay4 {
    position: absolute;
    top:641px;
    height: 210px;
    width: 210px;
    opacity: 0;
    transition: .2s ease;
    background-color: #eea800;
    z-index: 4;
}

.grid4:hover .overlay4 {
  opacity: 1;
}
.overlay5 {
    position: absolute;
    top:871px;
    height: 210px;
    width: 210px;
    opacity: 0;
    transition: .2s ease;
    background-color: #00b19a;
    z-index: 4;
}

.grid5:hover .overlay5 {
  opacity: 1;
}
.overlay6 {
    position: absolute;
    top:871px;
    height: 210px;
    width: 210px;
    opacity: 0;
    transition: .2s ease;
    background-color: #fd337f;
    z-index: 4;
}

.grid6:hover .overlay6 {
  opacity: 1;
}
.overlay7 {
    position: absolute;
    top:871px;
    height: 210px;
    width: 210px;
    opacity: 0;
    transition: .2s ease;
    background-color: #00b19a;
    z-index: 4;
}

.grid7:hover .overlay7 {
  opacity: 1;
}
.overlay8 {
    position: absolute;
    top:871px;
    height: 210px;
    width: 210px;
    opacity: 0;
    transition: .2s ease;
    background-color: #8b00e9;
    z-index: 4;
}

.grid8:hover .overlay8 {
  opacity: 1;
}
.overlay9 {
    position: absolute;
    top:871px;
    height: 210px;
    width: 210px;
    opacity: 0;
    transition: .2s ease;
    background-color: #8b00e9;
    z-index: 4;
}

.grid9:hover .overlay9 {
  opacity: 1;
}
.overlay10 {
    position: absolute;
    top:641px;
    height: 210px;
    width: 435px;
    opacity: 0;
    transition: .2s ease;
    background-color: #fd337f;
    z-index: 4;
}

.grid10:hover .overlay10 {
  opacity: 1;
}
.overlay11 {
    position: absolute;
    top:641px;
    height: 210px;
    width: 210px;
    opacity: 0;
    transition: .2s ease;
    background-color: #fd337f;
    z-index: 4;
}

.grid11:hover .overlay11 {
  opacity: 1;
}

.penulis{
    color: white;
    padding-left: 5px;
    font-weight: 600;
}
.text{
    color: white;
    padding-left: 5px;
    font-size: 12px;
}

/*webtoon baru*/
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #d1d1d1;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #404040;
    border-color: #404040;
}
.web_br{
    background: #f4f4f4;
    height: 100%;
    border-top: 1px solid #cfced0;
    border-bottom: 1px solid #cfced0;
}
.isi{
    margin-left:30px;
}
.indi{
    margin-bottom: 180px;
}
.ct_kiri{
    position: absolute;
    width: 100%;
    left:0;
    top:90px;
}
.ct_kanan{
    position: absolute;
    width: 100%;
    right:100;
    top:90px;
}
/*komik*/
.gridbr1{
    background: url("../image/thumb_ipad (9).jpg");
    background-size: cover;
    background-position: center;
    height: 210px;
    width: 210px;
    margin-top: 20px;
    float: left;
    margin-left: 25px;
}
.gridbr1 h3{
    font-size: 18px;
    padding-left: 5px;
    padding-top: 2px;
}
.gridbr1 img{
    width: 7%;
    margin-left: 10px;
    float: left;
}
.gridbr2{
    background: url("../image/thumb_ipad (10).jpg");
    background-size: cover;
    background-position: center;
    height: 210px;
    width: 210px;
    margin-top: 20px;
    float: left;
    margin-left: 25px;
}
.gridbr2 h3{
    font-size: 18px;
    padding-left: 5px;
    padding-top: 2px;
}
.gridbr2 img{
    width: 7%;
    margin-left: 10px;
    float: left;
}
.gridbr3{
    background: url("../image/thumb_ipad (11).jpg");
    background-size: cover;
    background-position: center;
    height: 210px;
    width: 210px;
    margin-top: 20px;
    float: left;
    margin-left: 25px;
}
.gridbr3 h3{
    font-size: 18px;
    padding-left: 5px;
    padding-top: 2px;
}
.gridbr3 img{
    width: 7%;
    margin-left: 10px;
    float: left;
}
.gridbr4{
    background: url("../image/Bigcard_PC (3).jpg");
    background-size: cover;
    background-position: center;
    height: 210px;
    width: 435px;
    margin-top: 20px;
    float: left;
    margin-left: 25px;
}
.gridbr4 h3{
    font-size: 18px;
    padding-left: 5px;
    padding-top: 2px;
    color: white;
}
.gridbr4 p{
    color:white;
    padding-left: 5px;
}
.gridbr4 img{
    width: 5%;
    margin-left: 10px;
    float: left;
}
/*overlay*/






/*style aliya*/
.komik{
    margin-left: 90px;
}
.col-md-2{
    z-index: 1;
    width: 16.3%;
    height: 16.3%;
    padding-left: 1px;
    margin-top: 15px;
    margin-left: 15px;
}
.genre{
    background-color: #f6f6f6;
    padding-bottom: 100px;
}
.overlayp {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 210px;
  width: 210px;
  opacity: 0;
  transition: .5s ease;
  background-color: #fd337f;
}
.overlayu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 210px;
  width: 210px;
  opacity: 0;
  transition: .5s ease;
  background-color: #8b00e9;
}
.overlaytrans {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 166px;
  width: 166px;
  opacity: 1;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.3);
}
.col-md-2:hover .overlayp {
  opacity: 1;
}
.col-md-2:hover .overlayu {
  opacity: 1;
}
.wadah:hover .overlaytrans {
  opacity: 0;
}
.text-g {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.text-genre{
    font-size: 15px;
    position: absolute;
    left: 10px;
    top: 10px;
    color: black;
}
.genre_image{
    width: 6%;
    position: absolute;
    left: 10px;
    top: 30px;
}
.like{
    width: 100px;
    font-size: 13px;
    position: absolute;
    left: 25px;
    top: 27.8px;
    color:  #3de33d;
}
.h3-genre{
    font-size: 15px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    color: white;
}
.p-genre{
    font-size: 12px;
    margin-left: 20px;
    margin-right: 40px;
    color: white;
}
.list-a{
    color: black;
}
.list{
    width: 100%;
    position: relative;
    left: 0;
}
.list-text{
    color: #e6a919;
    font-weight: bold;
    margin-top: 14px;
    margin-bottom: 0px;

}
.judul{
    color: black;
    font-size: 16px;
    margin-bottom: 0;
}
.penulis2{
    color: black;
    font-size: 13px;
}
hr.onepixel {
    width: 95%;
    border-top: 1px solid #cfced0;
    height: 0px;
    margin:0px;
}

hr.pembatas {
    width: 100%;
    border-top: 1px solid #cfced0;
    height: 0px;
    margin-top: 80px
}
hr.pembatas2 {
    width: 100%;
    border-top: 1px solid #cfced0;
    height: 0px;
}
p.toon{
    font-size: 15px;
    margin-left: 10px;
}
p.footer{
    font-size: 16px;
    margin-left: 10px;
    margin-top: 45px;
}
.wadah{
    width: 180px;
    height: 180px;
}
.ca{
    font-size: 23px;
    margin-left: 10px;
    margin-top: 60%;
    color: white;
    margin-bottom: 0;
}
.ci{
    font-size: 18px;
    margin-left: 10px;
    color: white;
}
.toone{
    background-color: #ffffff;
    height: 450px;
    width: 100%;
    position: relative;
    left: 0;
}
button.lihat{
    width: 180px;
    background-color: #00d564;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius:2em;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    opacity: 5;
    margin-left: 10px;
    margin-top: 15px;
}
.cici{
    width: 100%;
    left: 0;
    position: relative;
}
.navbw{
    border-radius: 0;
    background: #f6f6f6;
    border: none;
}
.menu_bawah{
    padding-left: 28%;
}
.navbar-inverse .menu_bawah > li > a:hover {
    color: black;
}
.bahasa{
    border-radius: 18px;
    background: #f6f6f6;
    margin-top: 5px;
}

/*grid bawah*/
.grid_genre_judul{
    background: url("../gambar/romantis.png");
    background-size: cover;
    background-position: center;
    height: 210px;
    width: 210px;
    margin-top: 20px;
    float: left;
    margin-left: 6.2%;
}
.grid_genre1{
    background: url("../gambar/1.jpg");
    background-size: cover;
    background-position: center;
    height: 210px;
    width: 210px;
    margin-top: 20px;
    float: left;
    margin-left: 2%;
}
.grid_genre1 h3{
    font-size: 18px;
    padding-left: 5px;
    padding-top: 2px;
}
.grid_genre1 img{
    width: 7%;
    margin-left: 10px;
    float: left;
}
.grid_genre2{
    background: url("../gambar/2.jpg");
    background-size: cover;
    background-position: center;
    height: 210px;
    width: 210px;
    margin-top: 20px;
    float: left;
    margin-left: 2%;
}
.grid_genre2 h3{
    font-size: 18px;
    padding-left: 5px;
    padding-top: 2px;
}
.grid_genre2 img{
    width: 7%;
    margin-left: 10px;
    float: left;
}
.grid_genre3{
    background: url("../gambar/3.jpg");
    background-size: cover;
    background-position: center;
    height: 210px;
    width: 210px;
    margin-top: 20px;
    float: left;
    margin-left: 2%;
}
.grid_genre3 h3{
    font-size: 18px;
    padding-left: 5px;
    padding-top: 2px;
}
.grid_genre3 img{
    width: 7%;
    margin-left: 10px;
    float: left;
}
.grid_genre4{
    background: url("../gambar/4.jpg");
    background-size: cover;
    background-position: center;
    height: 210px;
    width: 210px;
    margin-top: 20px;
    float: left;
    margin-left: 2%;
}
.grid_genre4 h3{
    font-size: 18px;
    padding-left: 5px;
    padding-top: 2px;
}
.grid_genre4 img{
    width: 7%;
    margin-left: 10px;
    float: left;
}
.grid_genre_judul2{
    background: url("../gambar/fantastic.png");
    background-size: cover;
    background-position: center;
    height: 210px;
    width: 210px;
    margin-top: 20px;
    float: left;
    margin-left: 6.2%;
}
.grid_genre5{
    background: url("../gambar/5.jpg");
    background-size: cover;
    background-position: center;
    height: 210px;
    width: 210px;
    margin-top: 20px;
    float: left;
    margin-left: 2%;
}
.grid_genre5 h3{
    font-size: 18px;
    padding-left: 5px;
    padding-top: 2px;
}
.grid_genre5 img{
    width: 7%;
    margin-left: 10px;
    float: left;
}
.grid_genre6{
    background: url("../gambar/6.jpg");
    background-size: cover;
    background-position: center;
    height: 210px;
    width: 210px;
    margin-top: 20px;
    float: left;
    margin-left: 2%;
}
.grid_genre6 h3{
    font-size: 18px;
    padding-left: 5px;
    padding-top: 2px;
}
.grid_genre6 img{
    width: 7%;
    margin-left: 10px;
    float: left;
}
.grid_genre7{
    background: url("../gambar/7.jpg");
    background-size: cover;
    background-position: center;
    height: 210px;
    width: 210px;
    margin-top: 20px;
    float: left;
    margin-left: 2%;
}
.grid_genre7 h3{
    font-size: 18px;
    padding-left: 5px;
    padding-top: 2px;
}
.grid_genre7 img{
    width: 7%;
    margin-left: 10px;
    float: left;
}
.grid_genre8{
    background: url("../gambar/8.jpg");
    background-size: cover;
    background-position: center;
    height: 210px;
    width: 210px;
    margin-top: 20px;
    float: left;
    margin-left: 2%;
}
.grid_genre8 h3{
    font-size: 18px;
    padding-left: 5px;
    padding-top: 2px;
}
.grid_genre8 img{
    width: 7%;
    margin-left: 10px;
    float: left;
}

/*overlay grid bawah*/
.overlay_genre1 {
    position: absolute;
    top:1540px;
    height: 210px;
    width: 210px;
    opacity: 0;
    transition: .2s ease;
    background-color: #fd337f;
    z-index: 4;
}

.grid_genre1:hover .overlay_genre1 {
  opacity: 1;
}
.overlay_genre2 {
    position: absolute;
    top:1540px;
    height: 210px;
    width: 210px;
    opacity: 0;
    transition: .2s ease;
    background-color: #fd337f;
    z-index: 4;
}

.grid_genre2:hover .overlay_genre2 {
  opacity: 1;
}
.overlay_genre3 {
    position: absolute;
    top:1540px;
    height: 210px;
    width: 210px;
    opacity: 0;
    transition: .2s ease;
    background-color: #fd337f;
    z-index: 4;
}

.grid_genre3:hover .overlay_genre3 {
  opacity: 1;
}
.overlay_genre4 {
    position: absolute;
    top:1540px;
    height: 210px;
    width: 210px;
    opacity: 0;
    transition: .2s ease;
    background-color: #fd337f;
    z-index: 4;
}

.grid_genre4:hover .overlay_genre4 {
  opacity: 1;
}
.overlay_genre5 {
    position: absolute;
    top:1770px;
    height: 210px;
    width: 210px;
    opacity: 0;
    transition: .2s ease;
    background-color: #8b00e9;
    z-index: 4;
}

.grid_genre5:hover .overlay_genre5 {
  opacity: 1;
}
.overlay_genre6 {
    position: absolute;
    top:1770px;
    height: 210px;
    width: 210px;
    opacity: 0;
    transition: .2s ease;
    background-color: #8b00e9;
    z-index: 4;
}

.grid_genre6:hover .overlay_genre6 {
  opacity: 1;
}
.overlay_genre7 {
    position: absolute;
    top:1770px;
    height: 210px;
    width: 210px;
    opacity: 0;
    transition: .2s ease;
    background-color: #8b00e9;
    z-index: 4;
}

.grid_genre7:hover .overlay_genre7 {
  opacity: 1;
}
.overlay_genre8 {
    position: absolute;
    top:1770px;
    height: 210px;
    width: 210px;
    opacity: 0;
    transition: .2s ease;
    background-color: #8b00e9;
    z-index: 4;
}

.grid_genre8:hover .overlay_genre8 {
  opacity: 1;
}
.pengumuman{
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}
.listimg{
    margin-left: 30%;
    margin-top: 20px; 
    float: left;
}
.fb{
    margin-left: 40%;
    margin-top: 40px;
    float:left;
}
.lain{
    margin-left: 40px;
    margin-top: 40px;
}
.copy{
    text-align: center;
    color: #cecece;
}
.belum_download img{
    margin-left: 30px;
}
.rs{
    height: auto;
    padding-top: 20px;
    width: auto;
}
.wb_challenge{
    margin-left: 40px
}

/*class untuk ukaran 1024px*/
.web_br .thumbnail{
    padding: 0;
    display: none;
}
.thumbnail > img, .thumbnail a > img {
    margin-right: 0;
    margin-left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}



/*responsive*/
@media(max-width:1366px){
.overlay1{
    top:645px;
}
.overlay2{
    top:645px;
}
.overlay3{
    top:645px;
}
.overlay4{
    top:645px;
}
.overlay5{
    top:875px;
}
.overlay6{
    top:875px;
}
.overlay7{
    top:875px;
}
.overlay8{
    top:875px;
}
.overlay9{
    top:875px;
}
.overlay_genre1{
    top: 1544px;
}
.overlay_genre2{
    top: 1544px;
}
.overlay_genre3{
    top: 1544px;
}
.overlay_genre4{
    top: 1544px;
}
.overlay_genre5{
    top: 1774px;
}
.overlay_genre6{
    top: 1774px;
}
.overlay_genre7{
    top: 1774px;
}
.overlay_genre8{
    top: 1774px;
}
}

@media(max-width:1362px){
.overlay1{
    top:646px;
}
.overlay2{
    top:646px;
}
.overlay3{
    top:646px;
}
.overlay4{
    top:646px;
}
.overlay5{
    top:876px;
}
.overlay6{
    top:876px;
}
.overlay7{
    top:876px;
}
.overlay8{
    top:876px;
}
.overlay9{
    top:876px;
}
.overlay_genre1{
    top: 1545px;
}
.overlay_genre2{
    top: 1545px;
}
.overlay_genre3{
    top: 1545px;
}
.overlay_genre4{
    top: 1545px;
}
.overlay_genre5{
    top: 1775px;
}
.overlay_genre6{
    top: 1775px;
}
.overlay_genre7{
    top: 1775px;
}
.overlay_genre8{
    top: 1775px;
}
}

@media(max-width:1300px){
.overlay1{
    top:704px;
}
.overlay2{
    top:704px;
}
.overlay3{
    top:704px;
}
.overlay4{
    top:704px;
}
.overlay5{
    top:934px;
}
.overlay6{
    top:934px;
}
.overlay7{
    top:934px;
}
.overlay8{
    top:934px;
}
.overlay9{
    top:934px;
}
.overlay_genre1{
    top: 1603px;
}
.overlay_genre2{
    top: 1603px;
}
.overlay_genre3{
    top: 1603px;
}

.overlay_genre4{
    top: 1603px;
}
.overlay_genre5{
    top: 1834px;
}
.overlay_genre6{
    top: 1834px;
}
.overlay_genre7{
    top: 1834px;
}
.overlay_genre8{
    top: 1834px;
}
}


@media(max-width:1299px){
.overlay_genre1{
    top: 1602px
}
.overlay_genre2{
    top: 1602px
}
.overlay_genre3{
    top: 1602px
}
.overlay_genre4{
    top: 1602px
}
.overlay_genre5{
    top: 1835px
}
.overlay_genre6{
    top: 1835px
}
.overlay_genre7{
    top: 1835px
}
.overlay_genre8{
    top: 1835px
}
}


@media(max-width:1271px){
.gridbr3{
    display: none;
}

}


@media(max-width:1240px){
.overlay_genre4{
    display: none;
}
.overlay_genre5{
    top: 1832px;
}
.overlay_genre6{
    top: 1832px;
}
.overlay_genre7{
    top: 1832px;
}
.overlay_genre8{
    display: none;
}
.grid_genre4{
    display: none;
}
.grid_genre8{
    display: none;
}

}



@media(max-width:1202px){
.grid4{
    margin-left: 25px;
}
.grid5{
    margin-left: 0;
}
.grid8{
    margin-left: 25px;
}
.grid_genre4{
    display: none;
}
.grid_genre8{
    display: none;
}
.overlay_genre1{
    top: 1603px;
}
.overlay_genre2{
    top: 1603px;
}
.overlay_genre3{
    top: 1603px;
}
.overlay_genre4{
    display: none;      
}
.overlay_genre5{
    top: 2103px;
}
.overlay_genre6{
    top: 2103px;
}
.overlay_genre7{
    top: 2103px;
}
.overlay_genre8{
    display: none;
}
}

@media(min-width:1440px){
.overlay1{
    top:673px;
}
.overlay2{
    top:673px;
}
.overlay3{
    top:673px;
}
.overlay4{
    top:673px;
}
.overlay5{
    top:903px;
}
.overlay6{
    top:903px;
}
.overlay7{
    top:903px;
}
.overlay8{
    top:903px;
}
.overlay9{
    top:903px;
}
.overlay_genre1{
    top:1572px;
}
.overlay_genre2{
    top:1572px;
}
.overlay_genre3{
    top:1572px;
}
.overlay_genre4{
    top:1572px;
}
.overlay_genre5{
    top:1802px;
}
.overlay_genre6{
    top:1802px;
}
.overlay_genre7{
    top:1802px;
}
.overlay_genre8{
    top:1802px;
}
}



@media(max-width:1031px){
.nav-tabs > li > a {
    margin-right: -40px;
    line-height: 1.42857143;
    border-radius: 0;
}
.jadwal ul li a{
    padding: 20px;
    margin-left: 40px
}
.grid1{
    margin-left: 32px;
}
.grid4{
    margin-left: 32px;
}
.grid5{
    margin-left: 25px;
}
.grid8{
    margin-left: 32px;
}
.gridbr4{
    width: 680px;
}
#carousel-example-generic2{
    padding-left: 85px
}
.ct_kiri, .ct_kanan{
    margin-top: 14%;
}
.grid_genre_judul{
    margin-left: 17%;
}
.grid_genre_judul2{
    margin-left: 17%;
}
.grid_genre3{
    margin-left: 17%;
}
.grid_genre7{
    margin-left: 17%;
}
.overlay1{
    top:528px;
}
.overlay2{
    top:528px;
}
.overlay3{
    top:528px;
}
.overlay4{
    top:758px;
}
.overlay5{
    top:758px;
}
.overlay6{
    top:758px;
}
.overlay7{
    top:758px;
}
.overlay8{
    top:1029px;
}
.overlay9{
    top:1029px;
}
.overlay_genre1{
    top:1926px;
}
.overlay_genre2{
    top:1926px;
}
.overlay_genre3{
    top:2156px;
}
.overlay_genre4{
    top:2156px;
}
.overlay_genre5{
    top:2386px;
}
.overlay_genre6{
    top:2386px;
}
.overlay_genre7{
    top:2616px;
}
.overlay_genre8{
    top:2616px;
}
.caro_atas{
    margin-left: -50px;
}
#carousel-example-generic2{
    display: none;
}
.rs{
    padding: 0;
}
.belum_download{
    padding: 0;
}
.rs img{
    width: 73%;
    padding-top: 10px;
    padding-left: 20px;
}
.belum_download img{
    width: 65%;
    padding-top: 10px
    padding-left:0;
}

.web_br .thumbnail{
    display: block;
}
}




@media(max-width:1009px){
.overlay1{
    top: 586px;
}
.overlay2{
    top: 586px;
}
.overlay3{
    top: 586px;
}
.overlay4{
    top: 816px;
}
.overlay5{
    top: 816px;
}
.overlay6{
    top: 816px;
}
.overlay7{
    top: 816px;
}
.overlay8{
    top: 1086px;
}
.overlay9{
    top: 1086px;
}
.overlay_genre1{
    top:1846px;
}
.overlay_genre2{
    top:1846px;
}
.overlay_genre5{
    top:2076px;
}
.overlay_genre6{
    top:2076px;
}
}


@media(max-width:991px){
.overlay1{
    top:853px;
}
.overlay2{
    top:853px;
}
.overlay3{
    top:1085px;
}
.overlay4{
    top:1085px;
}
.overlay5{
    top:1085px;
}
.overlay6{
    top:1353px;
}
.overlay7{
    top:1353px;
}
.overlay8{
    top:1353px;
}
.overlay9{
    top:1620px;
}
.grid_genre3{
    display: none;
}
.grid_genre7{
    display: none;
}
.overlay_genre1{
    top: 2378px;
}
.overlay_genre2{
    top: 2378px;
}
.overlay_genre5{
    top: 2608px;
}
.overlay_genre6{
    top: 2608px;
}
}






@media(max-width:768px){
.terbaru{
    display: none;
}
.belum_download{
    margin-left: 11%;
}
.gridbr4{
    width: 450px;
}
.grid_genre2, .grid_genre4, .grid_genre6, .grid_genre8{
    margin-left: 17%;
}
.grid_genre3, .grid_genre7{
    margin-left: 2%;
}
.toone{
    height: 750px;
}
.menu_bawah{
    padding-left: 15%;
}
.gambar_footer{
    margin-left: -120px;
}
.rs{
    display: none;
}
.belum_download{
    display: none;
}
.overlay1{
    top:652px;
}
.overlay2{
    top:652px;
}
.overlay3{
    top:882px;
}
.overlay4{
    top:882px;
}
.overlay5{
    top:882px;
}
.overlay6{
    top:1154px;
}
.overlay7{
    top:1154px;
}
.overlay8{
    top:1154px;
}
.grid9{
    display: none;
}
.overlay9{
    display: none;
}
.gridbr3{
    display: none;
}
.ct_kiri, .ct_kanan{
    margin-top: 120px;
}
.overlay_genre1{
    top:2050px;
}
.overlay_genre2{
    top:2280px;
}
.overlay_genre3{
    top:2280px;
}
.overlay_genre4{
    display: none;
}
.grid_genre4{
    display: none;
}
.overlay_genre5{
    top:2510px;
}
.overlay_genre6{
    top:2741px;
}
.overlay_genre7{
    top:2741px;
}
.overlay_genre8, .grid_genre8{
    display: none;
}
.grid_genre_judul, .grid_genre2, .grid_genre_judul2, .grid_genre6{
    margin-left: 170px;
}
.wadah{
    margin-left: 50px;
}
.wb_challenge{
    padding-left: 230px;
}
}


@media(max-width:425px){
.grid1{
    width:340px;
}
.grid2{
    margin-left: 25%;
}
.grid3{
    margin-left: 25%;
}
.grid4{
    margin-left: 25%;
}
.grid5{
    margin-left: 25%;
}
.grid6{
    margin-left: 25%;
}
.grid7{
    margin-left: 25%;
}
.grid8{
    margin-left: 25%;
}
.grid9{
    margin-left: 25%;
}
.carosel_bawah{
    margin-left: -50px;
    margin-right: 20px;
}
.ct_kiri{
    margin-top: 300px;
    display: none;
}
.ct_kanan{
    margin-right: 300px;
}
.gridbr4{
    width:210px;
}
.grid_genre_judul{
    margin-left: 25%;
}
.grid_genre1{
    margin-left: 25%;
}
.grid_genre2{
    margin-left: 25%;
}
.grid_genre3{
    margin-left: 25%;
}
.grid_genre4{
    margin-left: 25%;
}
.grid_genre_judul2{
    margin-left: 25%;
}
.grid_genre5{
    margin-left: 25%;
}
.grid_genre6{
    margin-left: 25%;
}
.grid_genre7{
    margin-left: 25%;
}
.grid_genre8{
    margin-left: 25%;
}
.list-a{
    display: none;
}
.komik{
    margin-left: 0;
}
.toone{
    height:1000px;
}
.overlay1{
    width: 340px;
    top:483px;
}
.overlay2{
    top:715px;
}
.overlay3{
    top:944px;
}
.overlay4{
    top:1173px;
}
.overlay5{
    top:1408px;
}
.overlay6{
    top:1677px;
}
.overlay7{
    top:1946px;
}
.overlay8{
    top:2215px;
}
.overlay9{
    top:2484px;
}
.overlay_genre1{
    top:3431px;
}
.overlay_genre2{
    top:3801px;
}
.overlay_genre3{
    top:4031px;
}
.overlay_genre5{
    top:4493px;
}
.overlay_genre6{
    top:4721px;
}
.overlay_genre7{
    top:4951px;
}
.overlay_genre8{
    top:6337px;
}
.pengumuman{
    margin-left: 0;
    text-align: center;
}
.listimg{
    margin-left: 5%;
}
.fb{
    margin-left: 30%;
}
.navbw{
    display: none;
}
.copy{
    font-size: 10px;
    margin-top: 30px;
}
.wb_challenge{
    padding-left: 0;
}
}


@media(max-width:375px){
.grid1{
    width: 300px;
}
.belum_download img{
    margin-left: 0;
}
.jadwal{
    margin-left: 10px;
    padding-top:10px;
    padding-bottom:10px;
}
.jadwal ul li a{
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.overlay1{
    width:300px;
    top: 480px;
}
.overlay2{
    top: 710px;
}
.overlay3{
    top: 940px;
}
.overlay4{
    top: 1170px;
}
.overlay5{
    top: 1400px;
}
.overlay6{
    top: 1670px;
}
.overlay7{
    top: 1940px;
}
.overlay8{
    top: 2210px;
}
.overlay_genre1{
    top:3396px;
}
.overlay_genre2{
    top: 3627px;
}
.overlay_genre5{
    top: 4088px;
}
.overlay_genre6{
    top: 4316px;
}
.toone{
    height: 1570px;
}
}



@media(max-width:320px){
.rs img{
    width: 100%;
}
.belum_download img{
    width: 100%;
}
.grid1{
    width: 250px;
}
.overlay1{
    width: 250px;
    display: none;
}
.toone{
    height: 1570px;
}
.cici{
    margin-left: 60px;
}
.fb{
    margin-left: 20%;
}
.overlay2{
    display: none;
}
.overlay3{
    display: none;
}
.overlay4{
    display: none;
}
.overlay5{
    display: none;
}
.overlay6{
    display: none;
}
.overlay7{
    display: none;
}
.overlay8{
    display: none;
}
.overlay9{
    display: none;
}
.overlay_genre1{
    display: none;
}
.overlay_genre2{
    display: none;
}
.overlay_genre3{
    display: none;
}
.overlay_genre4{
    display: none;
}
.overlay_genre5{
    display: none;
}
.overlay_genre6{
    display: none;
}
.overlay_genre7{
    display: none;
}
.overlay_genre8{
    display: none;
}
.web_br{
    display: none;
}
.cici{
    margin-left: 0;
}
}